.li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.bodyTask{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.inputBox{
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.inputBox .checkbox{
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-right: 10px;

}

.taskDescription{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}
.deleteBtn{
    /* width: 10%; */
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #8e0000;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 0.2rem 1rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    
}